<?xml version="1.0"?>
<settings>
	<profiles>
		<profile>
			<id>atlassian-repositories</id>
			<repositories>
				<repository>
					<id>proprietary-libraries</id>
					<name>Atlassian Maven 2 Proxy</name>
					<url>file://${env.M2_HOME}/../proprietary-libraries</url>
				</repository>
				<repository>
					<id>atlassian-proxy</id>
					<name>Atlassian Maven 2 Proxy</name>
					<url>https://m2proxy.atlassian.com/repository/public</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>atlassian-proxy</id>
					<name>Atlassian Maven 2 Proxy</name>
					<url>https://m2proxy.atlassian.com/repository/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
			<id>vionox-repositories</id>
			<repositories>
				<repository>
					<id>vionox-proxy</id>
					<name>Vionox Maven 2 Proxy</name>
					<url>https://m2proxy.vionox.com/repository/public</url>
				</repository>
				<repository>
					<id>vionox-m2-repository</id>
					<name>Vionox Maven 2 Proxy</name>
					<url>https://maven.vionox.com/content/repositories/vionox-central</url>
				</repository>
				<repository>
					<id>vionox-central</id>
					<name>Vionox Maven 2 Central Repository</name>
					<url>https://maven.vionox.com/content/repositories/vionox-central</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>vionox-proxy</id>
					<name>Vionox Maven 2 Proxy</name>
					<url>https://m2proxy.vionox.com/repository/public</url>
				</pluginRepository>
			</pluginRepositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>vionox-repositories</activeProfile>
	</activeProfiles>
    <servers>
        <server>
            <id>vionox-proxy</id>
            <username>${env.NEXUSUSER}</username>
            <password>${env.NEXUSPASS}</password>
        </server>
        <server>
            <id>vionox-central</id>
            <username>${env.NEXUSUSER}</username>
            <password>${env.NEXUSPASS}</password>
        </server>
        <server>
            <id>vionox-3rdparty</id>
            <username>${env.NEXUSUSER}</username>
            <password>${env.NEXUSPASS}</password>
        </server>
        <server>
            <id>vionox-closedsource</id>
            <username>${env.NEXUSUSER}</username>
            <password>${env.NEXUSPASS}</password>
        </server>
		<server>
			<id>vionox-private</id>
			<username>${env.NEXUSUSER}</username>
			<password>${env.NEXUSPASS}</password>
		</server>
		<server>
			<id>vionox-public</id>
			<username>${env.NEXUSUSER}</username>
			<password>${env.NEXUSPASS}</password>
		</server>
    </servers>
</settings>
